#search_container
{
  border-bottom: 1px dotted #999;
  margin-bottom: 9px;
}
#search_container p
{
  margin-bottom: 0;
}

#search_container form
{
  margin-bottom: 9px;
}

#search_container span
{
  color: #ccc;
  font-size:11px;
}

.search_box
{
  color: #ccc;
  font-size:11px;
}

div.search_box a
{
  color: #ccc;
}
div.search_box a:hover { color:red;background-color:#ccc; }